<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="owl-item active" style="width: 261.5px;">
            <div class="item">
                <a class="ui-card--course" href="course-details.php?course_id=38" style="color: #007bff;text-decoration: none;">
                    <div class="ui-card__course-header" title="Free course one">
                        <img src="https://nextforu.s3.ap-south-1.amazonaws.com/dev/private/courses/38.jpeg?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIASB5K6I5N4FZXQGMU%2F20201007%2Fap-south-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20201007T115112Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=300&amp;X-Amz-Signature=cd96f65c93c8f5fec6dcf5ebbee25034ccd95d29c474494b2eb526c4710daa19" alt="Free course one">
                    </div>
                    <div class="ui-card__course-body">
                        <div class="ui-card__course-content">
                            <h5 title="Free course one">Free course one</h5>
                        </div>
                        <div class="ui-card__course-footer">
                            <span class="heading">Price : </span>
                            <span class="value">₹0</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>